{%extends 'base.html'%}
{%block 'titulo'%}Lista de Produts.{%endblock%}
{%block 'conteudo'%}
<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="box" style="width:auto">
                <table class="table table-hover">
                    <thead>
                        <th scope="col">Id</td>
                        <th scope="col">Data</td>
                        <tr>
                            <td scope="row">{{ Pedido.id }}</td>   
                            <td scope="row">{{ Pedido.data_registro }}</td>
                        </tr>
                    </thead>
                </table>
                <div> 
                    <div  style = "color:black;text-align: left;float:left;">
                        produto
                    </div>
                    <div style ="color:black;text-align: right;">
                        qtd
                    </div>
                </div>
                
                 
                
                {% for produto in ProdutosEntrada %}
                    <div style="border-radius: 10px;border: 1px solid black; background-color: rgb(194, 194, 212);">
                        <div style ="color:black;text-align: left;float:left;">
                            &nbsp;&nbsp;{{ produto.produto.nome}}
                        </div>
                        <div style ="color:black;text-align: right;">
                            {{produto.quantidade}}&nbsp;&nbsp;
                        </div>
                         
                    </div>
                    <br/>
                {% endfor %}
                Essa entrada foi realizado pelo usuario : {{ Pedido.Atendente.usuario }}
                <br>
                <p><spam  style ="color:black;">Descrição da Entrada: </spam>{{Pedido.description}}</p>
                
            </div>
        </div>
    </div>
</div>
{%endblock%}