{%extends 'base.html'%}

{%block 'titulo'%}Entrada de Estoque {%endblock%}
{%block 'conteudo'%}
<script>
</script>
<div class="Pcontainer">
    <div class="row g-6">
        <div class="form-group box">
            <form action="{% url 'EntradaEstoque' %}" method="post">
                <div> 

                    <label for="produto">Selecione um produto</label>
                    
                    <select class="form-control" name="product" id="product">
                        <option value ="zero">Selecione um Produto </option>
                        {% for x in produtos %}
                        <option value ="{{x.id}}">{{x.nome}}</option>
                        {% endfor %}
                    </select>
                    <label for="qtd" class="col-md-6 col-form-label text-md-right">Quantidade</label>
                    <input type="number" minlength="1" id="qtd" class="form-control justify-content:center col-md-2" name="qtd" required>

  
                </div>
                <button type="submit" class="buttonC">Adicionar ao Estoque</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}