{%extends 'base.html'%}

{%block 'titulo'%}Listar Trabalhadores{%endblock%}
{%block 'conteudo'%}
<div class="Pcontainer">
    <div class="row g-6">
        <div class="box">
            <div class="buttonC">
                <a style="color:rgb(255, 255, 255)" href="/pedidos/StartPedido">Registra Pedido </a>
                <br>
            </div>
            <div class="buttonC">
                <a style="color:rgb(255, 255, 255)"  href="/pedidos/EntradaEstoque">Registrar Entrada de Estoque </a>
                <br>
            </div>
            <div class="buttonC">
                <a style="color:rgb(255, 255, 255)" href="/pedidos/ListPedidos">Lista De Pedidos </a>
                <br>
            </div>
        </div>    
    </div>
</div>
 
</div>
{%endblock%}