{%extends 'base.html'%}

{%block 'titulo'%}Listar Trabalhadores{%endblock%}
{%block 'conteudo'%}
<div class="Pcontainer">
    <div class="row g-6">
        <div class="box">
            <a href="/pedidos/gerarPedido">
                <div class="buttonC">
                    Registra Pedido
                </div> 
            </a>
            <a href="/pedidos/gerarEntrada">
                <div class="buttonC">
                    Registrar Entrada de Estoque 
                </div>
            </a>
            <a href="/pedidos/ListPedidos">
                <div class="buttonC">
                    Lista De Pedidos 
                </div>
            </a>
            <a href="/pedidos/listaEntrada">
                <div class="buttonC">
                    Lista De Entradas
                </div>
            </a>
        </div>    
    </div>
</div>
 
</div>
{%endblock%}