{%extends 'base.html'%}
{%block 'titulo'%}Cadastro{%endblock%}
{%block 'conteudo'%}
<div class="Pcontainer">
    <div class="row g-6">
        <div class="box">
            <form action="{% url 'register' %}" method="post" >
                {% csrf_token %}
                <div class="form-group row">
                    <label for="email" class="col-md-6 col-form-label text-md-right">Email</label>
                    <input type="text" minlength="1" id="email"value="{{request.POST.email}}" class="form-control justify-content:center col-md-2" name="email" class="width:300px" >
                </div>
                <div class="form-group row">
                    <label for="user" class="col-md-6 col-form-label text-md-right">Usuario</label>
                    <input type="text" minlength="1" id="user" value="{{request.POST.user}}" class="form-control justify-content:center col-md-2" name="user" >
                    
                </div>
                <div class="form-group row">
                    <label for="name" class="col-md-6 col-form-label text-md-right">Nome</label>
                    <input onkeypress="return onlylyrics();" type="text" minlength="1" id="name" value="{{request.POST.name}}" class="form-control justify-content:center col-md-2" name="name" >
                    
                </div>
                <div class="form-group row">
                    <label for="last_name" class="col-md-6 col-form-label text-md-right">Sobrenome</label>
                    <input  onkeypress="return onlylyrics();" type="text" minlength="1" id="last_name" value="{{request.POST.last_name}}" class="form-control justify-content:center col-md-2" name="last_name" >
                    
                </div>
                <div class="form-group row">
                    <label for="cpf" class="col-md-6 col-form-label text-md-right">CPF</label>
                    <input onkeypress="return onlycpf();" type="text"  minlength="11"maxlength="11" id="cpf" value="{{request.POST.cpf}}" class="form-control justify-content:center col-md-2" name="cpf" class="width:300px">
                    
                </div>
                <div class="form-group row">
                    <label for="PhoneNumber" class="col-md-6 col-form-label text-md-right">Telefone</label>
                    <input onkeypress="return onlynumber();"type="text" minlength="10"maxlength="11"id="PhoneNumber" value="{{request.POST.PhoneNumber}}" class="form-control justify-content:center col-md-2" name="PhoneNumber" class="width:300px">
                </div>
                <div class="form-group row">
                    <label for="office" class="col-md-6 col-form-label text-md-right">Cargo</label>
                    <input type="text" minlength="1" id="office" value="{{request.POST.office}}"class="form-control justify-content:center col-md-2" name="office" class="width:300px">
                </div>
                <div class="form-group row">
                    <label for="password" class="col-md-6 col-form-label text-md-right">Senha</label>
                    <input type="password" minlength="1" id="password" class="form-control justify-content:center col-md-2" name="password" class="width:300px">
                </div>
                <div class="form-group row">
                    <label for="conf_password" class="col-md-6 col-form-label text-md-right">Repetir sua senha</label>
                    <input type="password" minlength="1" id="conf_password" class="form-control justify-content:center col-md-2" name="conf_password" class="width:300px">
                </div>
                <div class="form-group row">
                    <a href=""><button type="submit"  class="buttonC">Cadastrar</button></a>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}