{%extends 'base.html'%}

{%block 'titulo'%}Opções de Produtos{%endblock%}
{%block 'conteudo'%}
<div class="Pcontainer">
    <div class="row g-6">
        <div class="box">
            <a href="/worker/AddWorker">
                <div class="buttonC">
                    Cadastrar funcionário    
                </div>
             </a>
            <a  href="/worker/ListWorker">
                <div class="buttonC">
                    Lista de funcionários 
                </div>
            </a>
        </div>    
    </div>
</div>
 
</div>
{%endblock%}