{%extends 'base.html'%}
{%block 'titulo'%}Lista de Clientes{%endblock%}
{%block 'conteudo'%}
<main class="login-form">   
    <div class="cotainer">
        <div class="row justify-content-center Pcontainer">
            <div class="col-md-8">
                <div class="box" style="width: auto">
                    <a  href="/customer/AddCustomer"><button class="buttonC" >Adicionar Novo Cliente</button> </a>
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">Id</td>
                            <th scope="col">Nome</td>
                            <th scope="col">Sobrenome</td>
                            <th scope="col">CPF</td>
                            <th scope="col">Telefone</td>
                            <th scope="col">Data_de_Nascimento</td>
                            <th scope="col">Editar</td>
                            {% for Customer in customers %}
                            <tr>
                                <td scope="row">{{Customer.id}}</td>
                                <td>{{Customer.nome}}</td>
                                <td>{{Customer.last_name}}</td>
                                <td>{{Customer.cpf}}</td>
                                <td>{{Customer.PhoneNumber}}</td>
                                <td>{{Customer.Dt_Nascimento}}</td>
                                <td><a href="EditCustomer/{{ Customer.id }}"><button   class="buttonC">editar</button></td></a>
                            </tr>
                            {% endfor %}
                        </thead>
                    </table>
                    <nav aria-label="Navegação de página exemplo">
                        <ul class="pagination">
                            {% for pagina in customers.paginator.page_range %}
                                {% if  customers.number == pagina %}
                                <li class="page-item active">
                                    <a class="page-link" href="?cliente={{pagina}}">{{pagina}}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?cliente={{pagina}}">{{pagina}}</a>
                                </li>
                                {%endif%}
                            {% endfor %}
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{%endblock%}