{%extends 'base.html'%}

{%block 'titulo'%}Opções Estoque{%endblock%}
{%block 'conteudo'%}
<div class="Pcontainer">
    <div class="row g-6">
        <div class="box">
            <div>
                <a  class="buttonC" href="/customer/AddCustomer">Cadastrar Cliente </a>
                <br>
            </div>
            <div>
                <a  class="buttonC" href="/customer/ListCustomer">Lista de Clientes</a>
                <br>
            </div>
        </div>    
    </div>
</div>
 
</div>
{%endblock%}